@import url('https://fonts.googleapis.com/css2?family=Soutce+Code+Pro&display=swap');

/* Allgemine, Fonts, und Farben */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

:root {
    --primary-color: #0B9A92;
    --secondary-color: #1A7AC3;
    --tertiary-color: #53CDCA;
    --dark-color: rgb(68, 68, 68);
    --light-color: white;
    --grey-color: lightgrey;
    --border-square: 0px;
    --border-round-5: 5px;
    --border-round-10: 10px;
    color: rgb(68, 68, 68);
}

body,header,main,footer,h1, h2, h3, h4, h5, h6, p,div, section, article, aside, table, form, legend {
    margin: 10px 0;
    padding: 5px;
}

body {
    padding: 10px;
    background: lightgrey;
}

div, section, article, aside, form, fieldset, legend, input {
    background: white;
    border-radius: var(--border-round-10);
}

th, td {
    width: 33%;
    margin: 5px;
    padding: 5px;
}

.bg-pr{
    background: var(--primary-color);
}

.bg-se{
    background: var(--secondary-color);
}

.bg-te{
    background: var(--tertiary-color);
}

.bg-lt{
    background: var(--light-color);
}

.bg-dk{
    background: var(--dark-color);
}

.bg-gr{
    background: var(--grey-color);
}

.co-lt{
    color: var(--light-color);
}

.co-dk{
    color: var(--dark-color);
}

/* Messungen */

.h-20pc {
    height: 20%;
}

.h-30pc {
    height: 30%;
} 


/* Росиционирунг */

.fl-wp  {
    display: flex;
    flex-wrap: wrap;
}

.jc-fs{
    justify-content: flex-start;
}

.jc-ce{
    justify-content: center;
}

.jc-fe{
    justify-content: flex-end;
}

.ai-fs{
    align-items: flex-start;
}

.ai-ce{
    align-items: center;
}

.ai-fe{
    align-items: flex-end;
}

/* Tabellen */



/* Formen */

form, fieldset, label, input, button {
    width: 100%;
    padding: 5px;
    border: none;
}

fieldset, label, input {
    margin: 5px 0;
}

fieldset label, fieldset input {
    color: var(--light-color);
}

legend {
    background: var(--grey-color);
}

input[type=checkbox] {
    border: none;
}

button {
    border-radius: var(--border-round-10);
}

.fo-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.fo-grid-cb {
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
}

/* Animationen */
.loading-img {
    fill: var(--primary-color);
}

.rotate {
    animation-name: rotate;
}

.slideIn-le {
    animation-name: slideIn-le;
}

.slideIn-ri {
    animation-name: slideIn-ri;
}
